<h1>YAYFREE</h1>



<h1><%=  @coupon.coupon_code  %></h1>
<h1><%=  @coupon.store  %></h1>

<h3>A SINGLE Coupon</h3>




<%= link_to "link_to Coupon Listings", coupons_path %></br></br>

<a href="/coupons">anchor tags Coupons List</a>


